<p-toast [style]="{marginTop: '80px', width: '320px'}"></p-toast>

<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-900 text-3xl font-medium mb-3">Is it the same person? Check it</div>
                <div class="col-md-12">
                    <div class="text-center ">
                        <p-fileUpload name="file[]" 
                            chooseLabel="Choose 2 images"
                            uploadLabel="Compare the images"
                            url="https://www.primefaces.org/cdn/api/upload.php" 
                            (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" maxFileSize="1000000">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>
</div>
